.home{
  overflow-y: scroll;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.intro{
   margin: 4em 10em;
   background: linear-gradient(to right,rgb(82,86,167,0.4),rgb(82,86,167,0.75));
   padding: 2em 5em;
   border-radius: 3em;
}
.intro > p{
    font-weight: 500;
    font-size: larger;
    text-align: justify;
    color: white;
}
.welc{
   animation: rotate 4.5s linear infinite;
   font-weight:bold;
   display:block;
   margin-bottom:0.5em;
   color:#54fd04;
   font-size: x-large;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media screen and (max-width:1000px) {
  .intro{
      padding: 1.5em;
      margin: 1em;
  }
  .home{
    top:20%;
    transform: translate(-50%);
  }
}

@media screen and (max-width:350px) {
  .home{
    margin-left: 2em;
  }
}