.share{
    background-color: rgba(256,256,256,0.75);
    padding: 3em;
    width: 28em;
    display: block;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
a{
    color: black;
    text-decoration: none;
}
.large-icon{
    font-size: 400%;
}
.social{
    display: inline-flex;
    cursor: pointer;
    width: 5em;
    margin: 1em;
    align-items: center;
    justify-content: center;
}
.social p{
    width: 5em;
    text-align: center;
}
.inp input{
    height:2em;
    width:25em;
}
.inp{
    display:inline-flex;
    justify-content:center;
    width:28em;
}

@media screen and (max-width:600px) {
    .large-icon{
        font-size: 200%;
        width: 2.5em;
        display: inline-flex;
        justify-content: center;
    }
    .social p{
        font-size: 75%;
        width:7em;
    }
    .share{
        width: 14em;
        padding: 3em 1.5em;
    }
    .inp{
        width: 14em;
    }
}